<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ets.thcs.easythcsearch">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeleteAddressActivity"></activity>
        <activity android:name=".EditAddressActivity" />
        <activity android:name=".ShowAddressActivity" />
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PromtLoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".SignInTeacherActivity" />
        <activity android:name=".SignInStudentActivity" />
        <activity android:name=".RegisterTeacherActivity" />
        <activity android:name=".RegisterStudentActivity" />
        <activity android:name=".TeacherOrStudentRegisterActivity" />
        <activity android:name=".ConfirmationAcitivity" />
        <activity android:name=".TeacherOrStudentConfirmationAcitivity" />
        <activity android:name=".TeacherOrStudentSignInActivity" />
        <activity android:name=".TeacherOrStudentDetailsActivity" />
        <activity android:name=".AddressActivity" />
    </application>

</manifest>